@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --c-white: #F7F7FF;
  --c-d-blue: #011936;
  --c-yellow: #F0C808;
  --c-red: #C81D25;
  --f-comic: 'Bangers', cursive;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--f-comic);
    color: var(--c-red);
    background-color: var(--c-d-blue);
    letter-spacing: 2px;
    box-sizing: border-box;
}
footer {
  text-align: center;
}
.kepregeny {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.kepregeny img {
    width: 300px;
}
.kepregeny div {
  padding: 5px;
}
.card img {
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  transition: all .5s ease;
}
.card {
  text-align: center;
}
.card img:hover {
  width: 310px;
  filter: invert();
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

header{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
    margin-bottom: 10vh;
}

header h1{
    padding: 10px;
    padding-left: 20px;
    padding-top: 30px;
    cursor: pointer;
    text-align: left;
    transition: all .3s ease-in-out;
}

header h1:hover{
    text-shadow: 2px 2px var(--c-yellow);
}

nav ul{
    padding-top: 30px;

}

nav li{
    display: inline;
    padding-left: 40px;
}


nav a{
    padding: 15px;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

nav a:hover{
    background-color: var(--c-red);
    color: var(--c-yellow);
    text-shadow: 3px 3px var(--c-d-blue);
    font-size: 1.8em;
}
.a img, .b img, .e img, .g img, .j img, .k img, .m img {
  transition: all 0.3s ease-in-out;
}
.a img:hover, .b img:hover, .e img:hover, .g img:hover, .j img:hover, .k img:hover, .m img:hover {
  filter: invert();
}
footer {
  padding-top: 10vh;
  padding-bottom: 10px;
}
aside {
  padding: 20px ;
}

article{
    width: 60%;
    margin: auto;
}

.kepregeny {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.kepregeny img {
    width: 300px;
}
.kepregeny div {
    padding: 5px;
}
@media screen and (max-width: 600px) {
    header {
      grid-template-columns: 1fr;
    }
    header h1{
      text-align: center;
    }
}




